@import 'tailwindcss';

@theme {
  --color-background: oklch(0.039 0 0);
  --color-foreground: oklch(0.98 0 0);
  --color-card: oklch(0.039 0 0);
  --color-card-foreground: oklch(0.98 0 0);
  --color-popover: oklch(0.039 0 0);
  --color-popover-foreground: oklch(0.98 0 0);
  --color-primary: oklch(0.98 0 0);
  --color-primary-foreground: oklch(0.09 0 0);
  --color-secondary: oklch(0.149 0 0);
  --color-secondary-foreground: oklch(0.98 0 0);
  --color-muted: oklch(0.149 0 0);
  --color-muted-foreground: oklch(0.639 0 0);
  --color-accent: oklch(0.149 0 0);
  --color-accent-foreground: oklch(0.98 0 0);
  --color-destructive: oklch(0.306 0.628 0);
  --color-destructive-foreground: oklch(0.98 0 0);
  --color-border: oklch(0.149 0 0);
  --color-input: oklch(0.149 0 0);
  --color-ring: oklch(0.831 0 0);
  --radius: 0.5rem;
}
